$break-tablet: 769px;

.input {
  border: none !important;
  border-radius: 3rem !important;
}

.cart_tag {
  background-color: #ff3860;
  color: #ffffff;
  padding: 0 0.75em;
  border-radius: 290486px;
  font-size: 0.75em;
  height: 2em;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  left: -0.8em;
  top: 0.3em;
}

.icon {
  color: whitesmoke !important;

  @media screen and (max-width: $break-tablet) {
    color: #00d1b2 !important;
  }
}

.auth_form_input {
  border: none !important;
  box-sizing: border-box;
  box-shadow: none !important;
  border-bottom: 1px solid #00d1b2 !important;
  border-radius: 0 !important;
  padding-left: 0 !important;
}

.auth_form_button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}

.auth_form_image {
  width: 80%;
}

.auth_form_image_wrapper {
  margin: 2rem 0 5rem;
}
