$break-tablet: 769px;

.form_input {
  border: none !important;
  box-sizing: border-box;
  box-shadow: none !important;
  border-bottom: 1px solid #00d1b2 !important;
  border-radius: 0 !important;
  padding-left: 0 !important;
}

.form_button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}

.form_select {
  @extend .form_input;
  // @media screen and (max-width: $break-tablet) {
  //   // margin-bottom: 4rem;
  // }
}
